.container {
    position: relative;
    display: block;
    padding: 5px;
    margin: 5px;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.legend:after {
 content: ": ";
}

canvas {
    position: relative;
    display: block;
    background: #fff;
    border: 1px solid #888;
}